@import url('https://fonts.cdnfonts.com/css/circular-std');

body {
  margin: 0;
  font-family: "Circular Std", sans-serif;
  font-style: normal;
  font-weight: 450;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
