{
    "extends": [
      "react-app",
      "plugin:prettier/recommended"
    ],
    "plugins": ["prettier"],
    "rules": {
      "no-console": 1,
      "prettier/prettier": "error",
      "import/order": [
        "error",
        {
          "groups": [
            "builtin",
            "external"
          ],
          "pathGroups": [
            {
              "pattern": "react",
              "group": "external",
              "position": "before"
            }
          ],
          "pathGroupsExcludedImportTypes": [
            "react"
          ],
          "newlines-between": "never",
          "alphabetize": {
            "order": "asc",
            "caseInsensitive": true
          }
        }
      ]
    }
  }